/* Global Styles */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    margin-top: 30px;
}

h1,
h2,
h3 {
    font-family: "Indie Flower", Open-Sans;
}

p,
label {
    font-family: Open-Sans, sans-serif;
}

/* Heading */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.container {
    display: flex;
    align-items: center;
}

.heading {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 3em;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 0.5em;
}

/* Landing Page */

#landing-page {
    background-color: #FBCEB1;
    border-radius: 13px;
    padding: 2em;
}

/* Image slider for landing page */

#image-slider {
    position: relative;
    max-width: 450px;
    height: 437.5px;
    margin: 1em auto;
    overflow: hidden;
}

#image-slider a {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
}

#image-slider a.active {
    opacity: 1;
    z-index: 2;
}

#image-slider a img {
    width: 100%;
    height: auto;
}

/* Form */

form {
    margin: 1em auto;
}

/* Button */

.start-quiz-btn {
    font-family: "Indie Flower", Open-Sans;
    border-color: #353839;
    background-color: #FBCEB1;
    border-radius: 13px;
    border: 2px solid;
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
    padding: 5px;
    letter-spacing: 2px;
}

.start-quiz-btn:hover {
    background-color: #D87E4E;
    border-color: #353839;
    color: #353839;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}