/* Global styling */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h1 {
    margin-top: 30px;
}

h1,
h2,
h3 {
    font-family: "Indie Flower", Open-Sans;
}

p,
#username-form {
    font-family: Open-Sans, sans-serif;
}

/* Heading */

.heading {
    text-align: center;
    font-size: 2.5em;
}

.logo {
    height: 50px;
    padding-right: 5px;
}

/* Image slider for landing page */

#image-slider {
    position: relative;
    max-width: 450px;
    height: 437.5px;
    margin: 1em auto;
    overflow: hidden;
}

#image-slider a {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
}

#image-slider a.active {
    opacity: 1;
    z-index: 2;
}

#image-slider a img {
    width: 100%;
    height: auto;
    padding: 10px;
    background: #fff;
}