/* Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

h1 {
    line-height: 90%;
}

h1,
h2,
h3 {
    font-family: "Indie Flower", Open-Sans;
    color: #353839;
    max-width: 50vw;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

p,
label, 
ol {
    font-family: Open-Sans, sans-serif;
    color: #353839;
    padding: 1em 0;
}

/* Heading */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1em;
}

.placeholder-container {
    width: 25%;
}

.logo-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh 0;
}

.logo {
    height: 3vh;
    padding-right: 1vw;
}

/* Instructions section */
.instructions-landing {
    display: flex;
    width: 25%;
    justify-content: flex-end;
    margin-right: 1em;
}

.instructions-landing:hover p {
    cursor: pointer;
    color: #D87E4E;
    transition: all 0.2s ease;
}

.instructions-landing i.zoom-effect,
.start-quiz-btn.zoom-effect,
.feedback-icon.zoom-effect {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/* Container styling*/
#landing-page,
#result-container,
#quiz-container {
    background-color: #FBCEB1;
    border-radius: 20px;
    border: 1px solid #353839;
    padding: 1em;
    margin: 1em;
    min-width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* Image slider for landing page */
#image-slider {
    position: relative;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
    pointer-events: none;
}

#image-slider a {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 1s;
}

#image-slider a.active {
    opacity: 1;
    z-index: 2;
}

#image-slider a img {
    width: auto;
    height: 20vh;
}


/* Form */

input {
    font-size: 16px;
    border: 1px solid #353839;
    border-radius: 20px;
    height: 40px;
    font-family: Open-Sans, sans-serif;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
}

#username, 
.start-quiz-btn {
    margin: 1em 0.5em;
}

/* Buttons */
button {
    font-family: "Indie Flower", Open-Sans;
    color: #353839;
    border-color: #353839;
    background-color: #FBCEB1;
    border-radius: 20px;
    height: 40px;
    border: 2px solid;
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
    letter-spacing: 2px;
    vertical-align: middle;
    opacity: 1;
    pointer-events: auto;
    padding: 0 1em;
}

button:hover {
    background-color: #D87E4E;
    border-color: white;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    transition: all 0.2s ease;
}

button:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

#next-btn,
#restart-btn {
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#next-btn {
    justify-content: flex-end;
}

#restart-btn {
    justify-content: flex-start;
}

#next-btn:hover,
#restart-btn:hover {
    border: none;
    background-color: unset;
    transform: scale(1.1);
    transition: transform 0.3s ease;
    box-shadow: none;
    transition: all 0.2s ease;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: #FBCEB1;
    border-radius: 20px;
    border: solid 1px #353839;
    padding: 2em;
    width: 400px;
    max-width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content li {
    font-family: "Open-Sans", sans-serif;
    font-size: 16px;
    color: #353839;
    text-align: left;
    margin-left: 1em;
}

.modal-content li::marker {
    font-family: "Indie Flower", Open-Sans;
    font-weight: bold;
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
    margin: 1em 0;
}

#yes-button,
#no-button {
    width: 33%;
}

.close-button {
    color: #353839;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close-button:hover {
    color: #D87E4E;
    transition: all 0.2s ease;
}

/* Quiz container */
#image-container {
    height: 20vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#question-image {
    height: 20vh;
    display: block;
    object-fit: contain;
    padding: 1em 0;
}

#quiz-section2 {
    display: flex;
    justify-content: space-between;
}

.quiz-restart,
.quiz-options,
.quiz-next {
    display: flex;
    align-items: center;
    width: 33.33%;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 10;
  }

/* Options */
.quiz-options {
    flex-direction: column;
}

#options {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    line-height: 90%;
    width: 100%;
}

.option {
    width: 100%;
    padding: 10px;
    margin: 2.5px;
    border-radius: 20px;
    border: solid 2px #353839;
    color: #353839;
    font-weight: bold;
    cursor: pointer;
}

.option:hover,
.option.selected {
    border-radius: 20px;
    border: solid 2px white;
    color: white;
    font-weight: bold;
    background-color: #D87E4E;
    transition: all 0.2s ease;
}

li.option.inactive {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

.option.selected.wrong-answer {
    background-color: #d84e63;
}

.option.selected.correct-answer {
    background-color: #4ed87e;
}

/* Quiz feedback */
#feedback {
    font-weight: bold;
    font-family: "Indie Flower", Open-Sans;
    font-size: 24px;
    margin: 0.5em 0;
}

/* Score & Progress */
#score-question-section {
    display: flex;
    justify-content: space-between;
}

#progress-bar-container {
    width: 100%;
    height: 2vh;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 10px;
    border: solid #353839 1px;
}

#progress-bar {
    width: 0;
    height: 100%;
    background-color: #D87E4E;
    border-radius: 10px;
    transition: width 0.3s ease-in-out;
}

/* Result */
.result-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
}

#result-username {
    font-family: "Indie Flower", Open-Sans;
    font-size: 1.5em;
    font-weight: bold;
}

#result-percentage {
    font-family: "Indie Flower", Open-Sans;
    font-size: 2em;
    font-weight: bold;
}

#result-container img {
    max-height: 20vh;
    max-width: 75vw;
}

#result-container button {
    margin: 1em 0;
    padding: 10px;
    height: auto;
}

.feedback-icon:hover p {
    cursor: pointer;
    color: #D87E4E;
    transition: all 0.2s ease;
}

/* Feedback section modal */
.ratings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rating-thanks {
    display: none;
}

.ratings-container .rating-icons input {
    display: none;
}

.rating-icons label {
    font-size: 40px;
    color: #353839;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}

.rating-icons input:not(:checked)~label:hover,
.rating-icons input:not(:checked)~label:hover~label {
    color: white;
}

.rating-icons input:checked~label {
    color: white;
    text-shadow: 0 0 20px #353839;
}

#rating-1:checked~form p:before {
    content: "I hate it!";
}

#rating-2:checked~form p:before {
    content: "I don't like it.";
}

#rating-3:checked~form p:before {
    content: "It's okay.";
}

#rating-4:checked~form p:before {
    content: "It's awesome!";
}

#rating-5:checked~form p:before {
    content: "I love it!";
}

.ratings-container form {
    display: none;
}

.rating-icons input:checked~form {
    display: block;
}

.rating-icons form p {
    margin: 1em 0;
    transition: all 0.2s ease;
}

.rating-icons form .textarea {
    height: 7.5vh;
}

.rating-icons form .textarea textarea {
    height: 100%;
    border: 1px solid #353839;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    font-family: "Open-Sans", sans-serif;
    text-align: center;
}

.feedback-btn {
    margin: 2.5em 0 0 0;
}

.feedback-btn button {
    width: 75%;
    background-color: white;
}

.feedback-btn button:hover {
    background-color: #FBCEB1;
    border-color: #353839;
    color: #353839;
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FBCEB1;
    border-top: 1px solid #353839;
    width: 100%;
}

footer p {
    font-family: Open-Sans, sans-serif;
    color: #353839;
    font-size: 14px;
    margin: 0;
}

footer a {
    color: #D87E4E;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
